@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">

    <img src="~/Content/Image/New beginnings care center.png" style="width: 1000px; height: 300px;">
    </br>
    <p class="lead">
        New Beginnings Care Centre is the nucleus of the Foundation.</br> The Care Centre is a registered non-profit organisation that addresses the needs of the disadvantaged. </br>The Care Centre was founded in 1999 and is closely affiliated with Correctional Services, Boksburg Child Welfare, SANCA, Local Schools, Department of Education and the Labour Department to mention but a few.
        </br>
        </br>
        The Care Centre has an occupancy rate of approximately 1400 people who are housed and fed.
        </br>
        </br>
    </p>
    <p><a href="http://www.nbcc.co.za/index.php/care-centre" class="btn btn-primary btn-lg">More Info About 'New Beginnings' &raquo;</a></p>
</div>

<h2>Use Cases</h2>
<img src="~/Content/Image/UC 1.1 272.png" style="width: 600px; height: 300px;">
<img src="~/Content/Image/Update UC 272.png" style="width: 600px; height: 300px;">
<img src="~/Content/Image/Donate UC.png" style="width: 600px; height: 300px;">
<img src="~/Content/Image/confirmation UC.png" style="width: 600px; height: 300px;">
</br>
<h2>Class Structure</h2>
<img src="~/Content/Image/classStructure.png" style="width: 600px; height: 300px;">
<div class="row">
    <div class="col-md-4">
        <h2>Sustainable Development Goal</h2>
        <p>
            Goal 2: Zero Hunger
        </p>
        <p><a class="btn btn-default" href="https://www.un.org/sustainabledevelopment/hunger/">Learn more about Goal 2 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Impact NBCC has on Zero Hunger Goal</h2>
        <p>NBCC has been in operation since 1999 striving to help the less privileged and to be able to do that,
        they have been assisted by wonderful donors, who help minimize the pain of poverty and hunger within th ecountry.</p>
        <p><a class="btn btn-default" href="http://www.nbcc.co.za/index.php/partners-food-dist">Click to see who our current donors are &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Are you interested in being a part of change?</h2>
        <p>Register and sign up to donate anything from all and types of foods.
        Clothing and monetary donations are humbly accepted as well!</p>
        <p><a class="btn btn-default" href="https://localhost:44393/Home/About">Sign up! &raquo;</a></p>
    </div>
</div>